@font-face {
  font-family: 'robotothin', sans-serif;
  src: url('/fonts/roboto-thin-webfont.woff') format('woff'),
    url('/fonts/roboto-thin-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'arialbold', sans-serif;
  src: url('/fonts/arial-boldmt-webfont.woff') format('woff'),
    url('/fonts/arial-boldmt-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  font-family: 'robotothin', sans-serif;
  font-size: 16px;
  line-height: 1.12;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
.link {
  text-decoration: none;
}
.mtck__for-advertising {
  position: absolute;
  width: 12%;
  height: 100vh;
  background: #e1d1ff;
}
.mtck-bar__wrapp {
  width: 350px;

  margin-left: auto;
  background-color: #444545;
  border-radius: 8px 8px 0 0;
}
.mtck-bar__heder {
  position: fixed;
  z-index: 9999;
}
.mtck-bar__heder img {
  width: 350px;
}
.mtck-bar__heder::before {
  content: '';
  display: block;
  position: absolute;
  width: 30px;
  height: 30px;
  top: 15px;
  right: 104%;
  background-image: url('../images/mtck_desktop_restart_icon.svg');
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
}
.mtck-bar__heder::after {
  content: '';
  display: block;
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  background-image: url('../images/mtck_desktop_menu_icon.svg');
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
}
.mtck-bar__card-wrapp {
  padding-top: 61px;
  padding-bottom: 1px;
  height: 100vh;
  overflow: scroll;
}

.mtck-bar__card-wrapp {
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.mtck-bar__card-wrapp::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.mtck-bar__card {
  display: flex;
  background-color: #444545;
  border-bottom: 2px solid #292f36;
  /* align-items: center; */
}

.mtck-bar__card:hover {
  background-color: #585959;
}
.mtck-bar__img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30%;
  margin: 0 10px;
}
.mtck-bar__content {
  color: white;
  width: 65%;
  padding: 20px 10px 15px 0px;
}
.mtck-bar__content-title {
  font-family: 'arialbold', sans-serif;
  font-size: 18px;
  font-weight: bold;
}
.mtck-bar__content-text {
  font-family: 'robotothin', sans-serif;
  font-size: 13px;
  padding-top: 15px;
}
.mtck--bar__btn {
  position: relative;
  display: block;
  width: 90%;
  margin: 16px auto;
  padding: 0;
  background-color: transparent;
  border-radius: 4px;
  border: none;
  text-transform: uppercase;
  cursor: pointer;
}
.mtck--bar__btn-text {
  position: absolute;
  font-size: 21px;
  font-weight: bold;
  color: #9c4803;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
